
body {
  background-color: var(--tg-theme-secondary-bg-color);
  color: var(--tg-theme-text-color);
  max-width: 500px;
  margin-left: 15px;
  margin-right: 15px;
}

@font-face {
  font-family: 'SF Pro Bold';
  src: url('./fonts/SF-Pro-Display-Bold.otf') format('opentype');;
}

@font-face {
  font-family: 'SF Pro Regular';
  src: url('./fonts/SF-Pro-Display-Regular.otf') format('opentype');;
}

@font-face {
  font-family: 'SF Pro Semibold';
  src: url('./fonts/SF-Pro-Display-Semibold.otf') format('opentype');;
}

@font-face {
  font-family: 'SF Pro Rounded Semibold';
  src: url('./fonts/SF-Pro-Rounded-Semibold.otf') format('opentype');;
}

@font-face {
  font-family: 'SF Pro Medium';
  src: url('./fonts/SF-Pro-Display-Medium.otf') format('opentype');;
}

@font-face {
  font-family: 'SF Mono Regular';
  src: url('./fonts/SF-Mono-Regular.otf') format('opentype');;
}